@font-face {
    font-family: RusselSquare;
    src: url("RusselSquareOpti.otf") format("opentype");
}

* {
    font-family: RusselSquare;
}

fieldset {
    width: 10em;
    display: flex;
    flex-direction: column;
}

fieldset * {
    margin: 0.1em 0em 0.1em 0em;
}