@font-face {
    font-family: RusselSquare;
    src: url("RusselSquareOpti.otf") format("opentype");
}

html {
    background-color: black;
    display: flex;
    flex: center;

    position: absolute;
    top: 50vh;
    left: 50vw;
    margin-top: -200px;
    margin-left: -200px;
}

* {
    font-family: RusselSquare;
    color: white;
    font-size: 1.1em
}

fieldset {
    width: 10em;
    display: flex;
    flex-direction: column;
}

form {
    position: relative;
    background: repeating-linear-gradient( rgba(0,0,0,1) 0ex,
                                           rgba(0,0,0,1) 2px,
                                           rgba(0,0,0,0.3) 2px,
                                           rgba(0,0,0,0.3) 4px);
    animation: lines 5s linear infinite;
    padding: 2em 2em 2em 2em;
    background-color: hsl(200 100% 85% / 0.5);
    width: fit-content;
    border-radius: 15%;
    box-shadow: 0 0 40px 20px rgb(0 0 0) inset;
    z-index: 0;
}

fieldset * {
    margin: 0.1em 0em 0.1em 0em;
}


legend ~ * {
    background-color: rgb(92 107 192 / 0.5);
    border: solid 0.1em rgb(255 255 255 / 50%);
}


#scanline {
    content: '';
    pointer-events: none;
    position: absolute;
    width: 1em;
    height: 100%;
    left: 0em;
    top: 0em;
    z-index: -1;
    background: linear-gradient(to right,
                                transparent   0%,
                                #000000  50%,
                                transparent 100% );
    opacity: 1;
    animation: scanline 2s linear infinite;
}

@keyframes scanline {
    0%   { left: 0%; }
    100% { left: 100%; }
}

@keyframes lines {
    0%   { background-position-y: 0px; }
    100% { background-position-y: 16px; }
}